:root{ 
    --fondo: #1a1a24;
    --color-primario: #a78bf9;
    --color-secundario: #f1f1f1;
    --text: #e8e8f0;
    --text-secundario: #888899;
    --font-family: font-family: 'Space Mono', monospace;
    --bordes: #2a2a3a;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Syne:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--fondo);
}

/*LOGO Y NAV BAR */

header {    
    border-bottom: 0.5px solid var(--color-secundario);
}


.nav-container{
    display:flex;
    background-color: var(--fondo);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Space Mono', monospace;

}

.logo-container {
    font-family: 'Space Mono', monospace;
    color:var(--color-secundario);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.alley{
    color: var(--color-primario);
}

.nav-right{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 30px
}
.nav-search {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--fondo);
    border: 1px solid var(--bordes);
    border-radius: 8px;
    padding: 8px 10px;
}

.nav-search input{
    background:  var(--fondo);
    color: var(--color-secundario);
    font: var(--font-family);
    font-size: small;
    outline: none;
    border: none;
}

.nav-search:hover{ 
    border: 1px solid var(--color-primario);
}

.carrito-btn{
    background: var(--fondo);
    border: 1px solid var(--bordes);
    color: var(--text-secundario);
    border-radius: 8px;
    font: var(--font-family);
    width: 140px;
    height: 40px;
}

.carrito-btn:hover{
    border: 1px solid var(--color-primario);
}

.nav-search .carrito-btn {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 50px;
    margin: 20px;
    flex-wrap: wrap;
    font-size: 20px;
  font: var(--font-family);
}

/*CATEGORIAS*/

.categorias-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 30px;
}

.categorias input{
    background: var(--fondo);
    border: 1px solid var(--bordes);
    color: var(--text-secundario);
    border-radius: 8px;
    font: var(--font-family);
    width: 170px;
    height: 40px;
}

.categorias input:hover{ 
    border: 0.5px solid var(--color-primario);
    border-radius: 8px;
}


/*HERO*/
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;

}

.video-fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    z-index: -1;
}

.texto{
    width: 100%;
    padding: 190px;
    text-align: center;
    box-sizing: border-box;   /* evita que el padding rompa el ancho */
}


h1{
    font-family: "syne", sans-serif;
    color: white;
    font-size: 80px;
    font-style: normal;
}

.transparente{
    color: transparent !important;
    -webkit-text-stroke: 2px #00F5FF;
    font-weight: 800;
    letter-spacing: 2px;
    text-shadow: 0 0 20px rgba(0, 245, 255, 0.4);
}


.desc-titulo{
    font-family: "syne", sans-serif;
    color: white;
    margin: 30px;
    font-size: 20px;
    font-style: normal;
}



button{
    width: 150px;
    background-color: rgb(36, 134, 214);
    margin: 10px;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
}





/*PRODUCTOS*/
.titulo-productos-destacados{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bordes);
    border-radius: 8px;
    padding: 40px 0;
}

.titulo-desc{
    font-size: 40px;
    text-align: center;
}

h2{
    font-size: 20px;
    color: var(--color-secundario);
    font-family: "syne", sans-serif;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px;
    margin: 40px 80px;
    padding: 0;
    font-family: "syne", sans-serif;
}


.tarjetas {
    width: 280px;
    height: 420px;
    background: #0b0f1f;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}


.product-image {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #a78bf9, #888899);
}

.product-image img {
    width: 400px;
    height: auto;
    object-fit: contain;
    display: block;
}


.info {
    padding: 20px;
    color: white;
}

.categoria {
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--color-primario);
    margin-bottom: 10px;

}

.titulo {
    margin-bottom: 20px;
    font-size: 15px;
  font-weight: 700;
  margin-bottom: 6px;
  line-height: 1.3;
}

.precio {
    font-size: 32px;
    font-weight: bold;
    margin: 28px;
}

.categoria input{  
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 140px;
    height: 40px;
}

.btn{
    display: flex;
    justify-content: center;
}

.comprar{
    background: var(--fondo);
    border: 1px solid var(--bordes);
    color: var(--color-secundario);
    border-radius: 8px;
    font: var(--font-family);
    width: 140px;
    height: 40px;
}

.comprar:hover {
     border: 1px solid var(--color-primario);
     font-size: 20px;
}


/*COMBOS*/

.combos-desc{
    display: flex;
   justify-content: center;
    color: var(--color-secundario);
    font-family: "syne", sans-serif;
    font-weight: 800;
    font-size: 50px;

}


.desc{
   display: flex;
   justify-content: left;
   margin: 5px;
    color: var(--text);
    font-family: "syne", sans-serif;
    font-weight: 500;
    font-size: 30px;  
}



.grid-combos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 57px;
    margin: 140px;
    padding: 17px;
    font-family:  "syne", sans-serif; 
}


.tarjetas-combos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 57px;
    margin: 140px;
     padding: 17px;
    font-family:  "syne", sans-serif; 
}

.tarjetas{
        width: 280px;
    height: 420px;
    background: #0b0f1f;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}